.wrapper{
    grid-area: header;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 11;
}

.header{
    height: var(--headerHeight);
    background-color: #2d3e50;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.header h2{
    color: white;
}